agate==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.8.4 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
alembic==1.11.1 ; python_version >= "3.10" and python_version < "4.0"
anyio==3.7.0 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow-providers-common-sql==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow-providers-ftp==3.4.1 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow-providers-http==4.4.1 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow-providers-imap==3.2.1 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow-providers-postgres==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow-providers-sqlite==3.4.1 ; python_version >= "3.10" and python_version < "4.0"
apache-airflow==2.6.2 ; python_version >= "3.10" and python_version < "4.0"
apispec[yaml]==5.2.2 ; python_version >= "3.10" and python_version < "4.0"
argcomplete==3.1.1 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.7.2 ; python_version >= "3.10" and python_version < "4.0"
astronomer-cosmos==0.7.3 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
babel==2.12.1 ; python_version >= "3.10" and python_version < "4.0"
black==23.3.0 ; python_version >= "3.10" and python_version < "4.0"
blinker==1.6.2 ; python_version >= "3.10" and python_version < "4.0"
cachelib==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
cattrs==23.1.2 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
clickclick==20.10.2 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
colorlog==4.8.0 ; python_version >= "3.10" and python_version < "4.0"
configupdater==3.1.1 ; python_version >= "3.10" and python_version < "4.0"
connexion[flask]==2.14.1 ; python_version >= "3.10" and python_version < "4.0"
cron-descriptor==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
croniter==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
cryptography==41.0.1 ; python_version >= "3.10" and python_version < "4.0"
dbt-core==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
dbt-extractor==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
dbt-postgres==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "4.0"
dill==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
dnspython==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
docutils==0.20.1 ; python_version >= "3.10" and python_version < "4.0"
email-validator==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.12.2 ; python_version >= "3.10" and python_version < "4.0"
flask-appbuilder==4.3.1 ; python_version >= "3.10" and python_version < "4.0"
flask-babel==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
flask-caching==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
flask-jwt-extended==4.5.2 ; python_version >= "3.10" and python_version < "4"
flask-limiter==3.3.1 ; python_version >= "3.10" and python_version < "4.0"
flask-login==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
flask-session==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
flask-sqlalchemy==2.5.1 ; python_version >= "3.10" and python_version < "4.0"
flask-wtf==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
flask==2.2.5 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.3.3 ; python_version >= "3.10" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.10" and python_version < "4.0"
graphviz==0.20.1 ; python_version >= "3.10" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.10" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
hologram==0.0.16 ; python_version >= "3.10" and python_version < "4.0"
httpcore==0.17.2 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
importlib-resources==5.12.0 ; python_version >= "3.10" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
isodate==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "4.0"
lazy-object-proxy==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
leather==0.3.4 ; python_version >= "3.10" and python_version < "4.0"
limits==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
linkify-it-py==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
lockfile==0.12.2 ; python_version >= "3.10" and python_version < "4.0"
logbook==1.5.3 ; python_version >= "3.10" and python_version < "4.0"
mako==1.2.4 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.4.3 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "4.0"
marshmallow-enum==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
marshmallow-oneofschema==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
marshmallow-sqlalchemy==0.26.1 ; python_version >= "3.10" and python_version < "4.0"
marshmallow==3.19.0 ; python_version >= "3.10" and python_version < "4.0"
mashumaro[msgpack]==3.6 ; python_version >= "3.10" and python_version < "4.0"
mdit-py-plugins==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
minimal-snowplow-tracker==0.0.2 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
networkx==2.8.8 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.24.3 ; python_version < "4.0" and python_version >= "3.10"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
parsedatetime==2.4 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
pendulum==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==3.5.3 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
prison==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
protobuf==4.23.3 ; python_version >= "3.10" and python_version < "4.0"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.9 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.10" and python_version < "4.0"
pyjwt==2.7.0 ; python_version >= "3.10" and python_version < "4.0"
pyrsistent==0.19.3 ; python_version >= "3.10" and python_version < "4.0"
python-daemon==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-nvd3==0.15.0 ; python_version >= "3.10" and python_version < "4.0"
python-slugify==8.0.1 ; python_version >= "3.10" and python_version < "4.0"
pytimeparse==1.1.8 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
pytzdata==2020.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
rich-argparse==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
rich==13.4.2 ; python_version >= "3.10" and python_version < "4.0"
setproctitle==1.3.2 ; python_version >= "3.10" and python_version < "4.0"
setuptools==67.8.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy-jsonfield==1.0.1.post0 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy-utils==0.41.1 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==1.4.48 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
tenacity==8.2.2 ; python_version >= "3.10" and python_version < "4.0"
termcolor==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.6.3 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0"
uc-micro-py==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
unicodecsv==0.14.1 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.0.3 ; python_version >= "3.10" and python_version < "4.0"
virtualenv==20.23.1 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==2.3.6 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "4.0"
wtforms==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "4.0"
